<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.repository.BoardHashtagMapper">

    <select id="selectBoardHashtag" resultMap="boardHashtagResultMap">
        SELECT *
        FROM board_hashtag
    </select>

    <insert id="createBoardHashtag" parameterType="org.example.domain.BoardHashtag">
        INSERT INTO board_hashtag
            (boardId, hashtagId)
        VALUES (#{boardId}, #{hashtagId});
    </insert>

    <update id="updateBoardHashtag" parameterType="org.example.domain.BoardHashtag">
        UPDATE board_hashtag set
            boardId = #{boardId},
            hashtagId = #{hashtagId}
        where id = #{id}
    </update>

    <delete id="deleteBoardHashtag" parameterType="Long">
        DELETE from board_hashtag
        where id = #{id}
    </delete>

    <resultMap id="boardHashtagResultMap" type="org.example.domain.BoardHashtag">
        <id column="id" property="id" />
        <collection property="boardId" ofType="org.example.domain.Board">
            <id column="id" property="id" />
        </collection>
        <collection property="hashtagId" ofType="org.example.domain.Hashtag">
            <id column="id" property="id" />
        </collection>
    </resultMap>

</mapper>
