<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.repository.CategoryMapper">

    <select id="selectCategoryList" resultMap="categoryResultMap">
        SELECT id, content
        FROM category
    </select>

    <select id="selectCategory" parameterType="Long" resultMap="categoryResultMap">
        SELECT *
        FROM category
        WHERE id = #{id}
    </select>

    <insert id="createCategory" parameterType="org.example.domain.Category">
        INSERT INTO category
            (content)
        VALUES (#{content});
    </insert>

    <update id="updateCategory" parameterType="org.example.domain.Category">
        UPDATE category set
            content = #{content}
        where id = #{id}
    </update>

    <delete id="deleteCategory" parameterType="Long">
        DELETE from category
        where id = #{id}
    </delete>

    <resultMap id="categoryResultMap" type="org.example.domain.Category">
        <id column="id" property="id" />
        <result column="content" property="content" />
    </resultMap>
</mapper>
